<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudKitContainerIdentifier</key>
	<string>iCloud.com.saydulayev.dinIslam</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Your profile photo is selected from your photo library.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We may save your profile photo to your photo library.</string>
</dict>
</plist>
